.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #282c34;
  position: sticky;
  min-height: 128px;
  top: 0;
  background: #fdf1df;
  z-index: 5;
}

.app-header-shadow {
  filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.05));
}

.nav-item-left {
  margin: auto;
  margin-left: 80px;
}

.nav-item-right {
  margin: auto;
  margin-right: 80px;
}
