.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #282c34;
  position: sticky;
  min-height: 128px;
  top: 0;
  background: #fdf1df;
  z-index: 5;
}

.app-header-shadow {
  filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.05));
}

.nav-item-left {
  margin: auto;
  flex-basis: 30%;
  margin-left: 15px;
}

.nav-item-right {
  margin: auto;
  flex-basis: 30%;
  margin-right: 15px;
}

@media only screen and (min-width: 768px) {
  .nav-item-left {
    flex-basis: auto;
    margin-left: 80px;
  }

  .nav-item-right {
    flex-basis: auto;
    margin-right: 80px;
  }
}
